body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

#map {
    width: 100%;
    height: calc(100% - 60px);
}

.bar-large {
    height: 60px;
}

.button.bar-button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.margin {
    margin: 5px;
}

.no-padding {
    padding: 0px;
}

/* BATTERY METER */
meter {
    /* Reset the default appearance */
    -webkit-appearance: meter;
    appearance: meter;
    width: 100%;
    height: 30px;
    margin: 5px 0px 5px 0px;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: #F0F0F0;
    border-radius: 2px;
}

meter#battery::-webkit-meter-optimum-value {
    background: #33CC33;
    border-radius: 2px;
    background-size: 35px 30px, 100% 100%, 100% 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, .10);
}

meter#battery::-webkit-meter-suboptimum-value {
    background: #E6E600;
    border-radius: 2px;
    background-size: 35px 30px, 100% 100%, 100% 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, .10);
}

meter#battery::-webkit-meter-even-less-good-value {
    background: #CC3300;
    border-radius: 2px;
    background-size: 35px 30px, 100% 100%, 100% 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, .10);
}

/* BALANCE METER */
meter.balance {
    width: 50%;
}

meter.left::-webkit-meter-bar {
    border-radius: 2px 0px 0px 2px;
}

meter.right::-webkit-meter-bar {
    border-radius: 0px 2px 2px 0px;
}

meter.balance::-webkit-meter-optimum-value {
    background: #3399FF;
    background-size: 35px 30px, 100% 100%, 100% 100%;
}

meter.left::-webkit-meter-optimum-value {
    border-radius: 2px 0px 0px 2px;
    position: relative;
    float: right;
}

meter.right::-webkit-meter-optimum-value {
    border-radius: 0px 2px 2px 0px;
}

meter::-webkit-meter-optimum-value {
    -webkit-transition: width .5s;
}

meter::-webkit-meter-suboptimum-value {
    -webkit-transition: width .5s;
}

meter::-webkit-meter-even-less-good-value {
    -webkit-transition: width .5s;
}

/* SPEEDOMETER */
 #speedometer:before {
    background: #F0F0F0;
    border-radius: 220px 220px 220px 220px;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15) inset;
    content:"";
    height: 210px;
    position: absolute;
    width: 210px;
    border-color: #3399FF;
    border-bottom-color: rgba(0, 50, 200, .0);
    border-style: hidden;
    border-width: 7px;
}

#speedometer {
    border-radius: 200px 200px 200px 200px;
    height: 220px;
    margin: 40px auto 0;
    overflow: hidden;
    position: relative;
    width: 220px;
    border-color: #3399FF;
    border-bottom-color: rgba(0, 50, 200, .0);
    border-style: solid;
    border-width: 5px;
}

#speedometer:after {
    background: #fff;
    border-radius: 140px 140px 140px 140px;
    bottom: 55px;
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.15);
    color: #3399FF;
    content: attr(data-value);
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    height: 100px;
    left: 55px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 3;
}

#needle {
    bottom: 95px;
    display: block;
    height: 0px;
    left: 5px;
    position: absolute;
    width: 0px;
    border-top: 8px solid transparent;
    border-right: 100px solid #3399FF; 
    border-bottom: 8px solid transparent;
    -webkit-transform-origin: 100%;
    -webkit-transform: rotate(-45deg);
    -webkit-transition: all .8s;
}