<ion-view>
    <ion-content has-header="true" padding="true">
        <div class="card">
            <div class="item item-text-wrap">
                <p>Balance meter</p>
                    <p style="float: left; width: 33.3%; text-align: left;">Front: {{ btData.getFront() }}</p>
                    <p style="float: left; width: 33.3%; text-align: center;">{{ getBalancePercentage() }} %</p>
                    <p style="float: left; width: 33.3%; text-align: right;">Back: {{ btData.getBack() }}</p>
                    <meter class="balance left" min="0" max="100" value="{{ getFrontBarValue() }}"></meter><meter class="balance right" min="0" max="100" value="{{ getBackBarValue() }}"></meter>
                <button class="button button-block button-stable" ng-click="calibrate();">
                    Calibrate sensors
                </button>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Test bluetooth message" ng-model="btMessage">
                </label>
                <button class="button button-small" ng-click="incommingMessage(btMessage);">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>