<ion-view>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                {{stat.name}}
                <div class="col">
                    <p>{{"Today:1"}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>