<ion-view>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap" ng-hide="btData.getStatus() == 'Drive'">
                <p>Model: {{ btData.getModel(); }}</p>
                <p>Status: {{ btData.getStatus(); }}</p>
            </div>
            <div class="item item-text-wrap">
                <p style="float: left; width: 50%; text-align: left;">Battery: {{ btData.getBattery(); }} %</p>
                <p style="float: left; width: 50%; text-align: right;">Range: {{ (0.25 * btData.getBattery() || 0).toFixed(1); }} km</p>
                <meter id="battery" min="0" low="10.5" high="20.5" optimum="50" max="100" value="{{ btData.getBattery() }}"></meter>
            </div>
            <div class="item item-text-wrap" ng-hide="btData.getStatus() == 'Drive'">
                <p>Total travel distance: {{ btData.getTotalTrip(); }} km</p>
                <p>Current trip: {{ btData.getCurrentTrip(); }} km
                    <button class="button button-stable button-small" ng-click="btData.set('currenttrip', 0);">
                        End trip
                    </button>
                </p>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Test bluetooth message" ng-model="btMessage">
                </label>
                <button class="button button-small" ng-click="incommingMessage(btMessage);">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-light bar-large" ng-hide="btData.getStatus() == 'Drive'">
    <button class="button button-block button-positive icon ion-bluetooth bar-button" ng-click="bluetooth.connect();">
        {{ connectButton }}
    </button>
</ion-footer-bar>