<ion-view>
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                General
            </ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-model="drivingLights" ng-change="bluetooth.send('drivinglights=' + (drivingLights === true ? 1 : 0))">
                Driving lights
            </ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-model="standbyLights" ng-change="bluetooth.send('standbylights=' + (standbyLights === true ? 1 : 0))">
                Standby lights
            </ion-toggle>
            <ion-item class="item-input item-select">
                <div class="input-label">
                    Speed cap
                </div>
                <select ng-model="speedCap" ng-change="bluetooth.send('speedcap=' + speedCap)">
                    <option value="20">20 km/h</option>
                    <option value="15">15 km/h</option>
                    <option value="10">10 km/h</option>
                </select>
            </ion-item>
            <ion-item class="item-divider">
                Advanced setup
            </ion-item>
            <ion-item ng-click="changePinPopup();">
                Change PIN
                <span class="item-note">{{ data.pin }}</span>
            </ion-item>
            <ion-item class="item" href="#/tab/settings/diagnostics">
                Board diagnostics
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>