<ion-view>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap" ng-repeat="stat in listOfStats">
                {{stat.name}}: {{stat.value}}
            </div>
        </div>
    </ion-content>
</ion-view>
