<ion-view>
    <ion-content>
    </ion-content>
    <ion-pane>
        <div id="map" data-tap-disabled="true"></div>
    </ion-pane>
</ion-view>
<ion-footer-bar class="bar-light bar-large">
    <div class="row no-padding">
            <button class="button bar-button col margin button-stable icon ion-pinpoint" ng-click="centerOnBoard();">
                Find my board
            </button>
            <button class="button bar-button col margin button-assertive icon" ng-class="locked ? 'ion-locked' : 'ion-unlocked'" ng-click="lockToggle();">
                {{ locked && 'Unlock' || 'Lock' }} board
            </button>
        </div>
</ion-footer-bar>