<!-- 
Create tabs with an icon and label, using the tabs-positive style. 
Each tab's child <ion-nav-view> directive will have its own 
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-top tabs-striped tabs-icon-top tabs-background-stable tabs-dark" ng-hide="btData.getStatus().toUpperCase() === 'DRIVE'">


  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Stats Tab -->
  <ion-tab title="Statistics" icon="icon ion-stats-bars" href="#/tab/statistics">
    <ion-nav-view name="tab-statistics"></ion-nav-view>
  </ion-tab>
    
  <!-- Locate Tab -->
  <ion-tab title="Locate" icon="icon ion-location" href="#/tab/locate">
    <ion-nav-view name="tab-locate"></ion-nav-view>
  </ion-tab>


  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<ion-view ng-show="btData.getStatus().toUpperCase() === 'DRIVE'">
   <ion-content class="padding" ng-controller="DrivingCtrl">
        <div id="speedometer" data-value="{{ currentSpeed }}">
            <span id="needle"></span>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p style="float: left; width: 50%; text-align: left;">Battery: {{ btData.getBattery(); }} %</p>
                <p style="float: left; width: 50%; text-align: right;">Range: {{ (0.25 * btData.getBattery() || 0).toFixed(1); }} km</p>
                <meter id="battery" min="0" low="10.5" high="20.5" optimum="50" max="100" value="{{ btData.getBattery(); }}"></meter>
            </div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Test bluetooth message" ng-model="btMessage">
                </label>
                <button class="button button-small" ng-click="incommingMessage(btMessage);">
                    Send
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
